.wrapper {
  width: 100%;
  max-height: min(-156px + 100vh, 760px);
  min-height: 100px;
  padding-top: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 12px #ccc;
  display: flex;
  flex-direction: column;
}
